/* fonts  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');
/* common fonts  */
body{
    font-family: 'Poppins', sans-serif;
    

}
/* section for padding for upper section  */
.top-class{
    padding-left: 120px;
}
.first-heading{
    margin-top: 87px;
    color: #3A3A3A;
}
.flexible h1{
    font-size: 2em;
    font-size: 52px;
    line-height: 70px;
    color: #3A3A3A;
}
#id{
    margin-top: 87px;
}
.flexible{
    width: 70%;
    display: flex;
    margin-top: 145.8px;

}
.less-width{
    width: 60%;
    position: absolute;
    width: 582px;
    height: 270px;
    left: 120px;
    top: 285px;
   
}
.half-width{
    width: 50%;
}
.half-width img{
    width: 60%;
    
    position: absolute;
    width: 440px;
    height: 414px;
    left: 835px;
    top: 211px;
    
}
.link-button{
    text-decoration: none;
    background-color:  #E02C6D;
    padding: 10px 24px;
    border-radius: 41px;
    color: white;
}
.fas{
   
    margin: 0px 8px;
}
.second-heading{
    width: 262px;
height: 70px;
margin-right: 590px;
margin-left: 588px;
margin-top: 935px;

}
/* collections styles */
.collections{
   display: grid;
   grid-template-columns: repeat(3,1fr);
   grid-column-gap: 30px;
}
.collection .collection-banner img{
    width: 300px;
    height: 256px;
}
.fa-star{
    color: orange;
}