/* fonts  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');
/* common fonts  */
body{
    font-family: 'Poppins', sans-serif;
    

}
/* section for padding for upper section  */
.top-class{
    padding-left: 120px;
}
.first-heading{
    margin-top: 87px;
    color: #3A3A3A;
}
.flexible h1{
    font-size: 2em;
    font-size: 52px;
    line-height: 70px;
    color: #3A3A3A;
}
#id{
    margin-top: 87px;
}
.flexible{
    width: 70%;
    display: flex;
    margin-top: 145.8px;
    margin-bottom: 3000px;

}
.less-width{
    width: 60%;
    position: absolute;
    width: 582px;
    height: 270px;
    left: 120px;
    top: 285px;
   
}
.half-width{
    width: 50%;
}
.half-width img{
    width: 60%;
    
    position: absolute;
    width: 440px;
    height: 414px;
    left: 835px;
    top: 211px;
    
}
.link-button{
    text-decoration: none;
    background-color:  #E02C6D;
    padding: 15px 30px;
    border-radius: 41px;
    color: white;
    
    
}
.fas{
   
    margin: 0px 8px;
}
.second-heading{
    width: 262px;
height: 70px;
margin-right: 590px;
margin-left: 588px;
margin-top: 705px;
align-items: center;

}
/* collections styles */
.collections{
   display: grid;
   grid-template-columns: repeat(3,1fr);
   grid-column-gap: 30px;
   
  
}
.collection{
    width: 284px;
    padding: 17px 15px 25px 14px;
    
    background-color: white;
    box-shadow: 17px 15px 17px 14px whitesmoke;
    margin-top: 30px;
   margin-bottom: 30px;
}
.collection .collection-banner img{
    width: 300px;
    height: 256px;
    
    
}
.fa-star{
    color: orange;
}
/* -----------------
-----extra part 
---------------------- */
.See-more{
    color: rgba(224, 44, 109, 0.87);
    text-align: right;
    margin-left: 900px;
   
   
}
.madina img{
    width: 70%;
    margin-bottom: 100px;
}
.flexible-extra{
    display: flex;
}
/* footer strats from here  */
footer{
    padding:20px 30px;
    background-color: #02021f;
    text-align: center;
}
footer h4{
    font-weight: 700;
    font-size: 1.3em;
    color: white;
}
footer h5{
    color: whitesmoke;
}
.footer{
    color: gray;
    
}
/* media queries */
/* for mobile device */
@media only screen and (max-width:688px){
    /* .top-class{
        width: 100%;
        
    } */

    .collections,.less-width,.main-camera,.madina,.dream{
        grid-template-columns: repeat(1,1fr);
        flex-direction: column;
        width: 100%;
        
    }
    .collection{
        flex-direction: column;
    }
/* tab device  */
@media only screen and (min-width:688px ) and (max-width:992px) {
    /* .top-class{
        width: 100%;
    } */
    .collections{
        width: 100%;
        grid-template-columns: repeat(2,1fr);
    }
   
}
